@media(min-width: 901px){
    .container_conteudo{

        .card_article{
            width: 50%;

            article{
                padding: 0 80px;
            }
        }
    }
    .container_clients{
        margin-bottom: 60px;
    }
}