//Primary

$Soft_red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark_desaturated_cyan /*(graphic design text)*/: hsl(167, 40%, 24%);
$Dark_blue/*(photography text)*/: hsl(198, 62%, 26%);
$Dark_moderate_cyan /*(footer)*/: hsl(168, 34%, 41%);

//Neutral

$Very_dark_desaturated_blue: hsl(212, 27%, 19%);
$Very_dark_grayish_blue: hsl(213, 9%, 39%);
$Dark_grayish_blue: hsl(232, 10%, 55%);
$Grayish_blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//cor do link

$black: rgb(0,0,0);


//fonte usada no projeto


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&family=Manrope:wght@700;800&display=swap');

//nome dela

//font-family: 'Barlow', sans-serif;
//font-family: 'Manrope', sans-serif;

